@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Mulish:ital,wght@0,400;1,300&display=swap');

html {
  text-align: center;
  background-color: white;
}

h1 {
  font-family: 'Antic Slab', serif;
}

h2 {
  font-family: 'Mulish', sans-serif;
}

.container {
  background-color: lightgray;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 0;
  margin-bottom: 0;
}

.text-box {
  padding-top: 5px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: black;
  text-decoration: none;
}

.sidebar {
  font-family: 'Mulish', sans-serif;
  float: left;
  padding: 1em;
  color: grey;
  height: 100vh;
  margin-top: 20vh;
  padding-left: 3em;
}

.my-form {
  margin-top: 40px;
}

.whole-page {
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
}

.ingredients-box {
  background-color: lightgray;
  margin-left: 30%;
  margin-right: 30%;
  height: 100vh;
  font-family: 'Antic Slab', serif;
  font-size: 40px;
}